config.json
__pycache__/graphics.cpython-313.pyc
__pycache__/launcher.cpython-313.pyc
__pycache__/settings.cpython-313.pyc
algorithms/__pycache__/algorithms_game.cpython-313.pyc
algorithms/__pycache__/evaluation.cpython-313.pyc
algorithms/__pycache__/minimax.cpython-313.pyc
algorithms/__pycache__/monte_carlo_tree_search.cpython-313.pyc
custom_board_game/__pycache__/board_maker.cpython-313.pyc
custom_board_game/__pycache__/normal_game_custom_board.cpython-313.pyc
engine/__pycache__/board_and_fields.cpython-313.pyc
engine/__pycache__/engine.cpython-313.pyc
engine/__pycache__/fen_operations.cpython-313.pyc
engine/__pycache__/figures.cpython-313.pyc
grandmaster/__pycache__/grandmaster_game.cpython-313.pyc
grandmaster/__pycache__/pgn_to_fen.cpython-313.pyc
normal_games/__pycache__/normal_game.cpython-313.pyc
normal_games/__pycache__/test_mode_normal_game.cpython-313.pyc
